---
layout: default
---

<section class="gray-intro">
    <div class="container">
        <div class="inner-container">
            <p>Please read this Terms of Use agreement carefully. By using this website owned by the U.S. Army, you signify that you have read, understand and agree to be bound by all of the terms and conditions as set forth in this (1) Terms of Use Agreement, (2) U.S. Army's Privacy Policy. The U.S. Army may change the terms of the Agreement at any time and without notice, effective upon the posting of the revised Agreement. Your continued use of this website shall be considered your acceptance of the revised Agreement.</p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="inner-container">
            <h4>External Links Disclaimer</h4>
            <p>The appearance of hyperlinks to external sites does not constitute endorsement by the Department of the Army of the linked website or the information, products or services contained therein. For other than authorized activities such as military exchanges and Morale, Welfare and Recreation sites, the Department of the Army does not exercise any editorial control over the information you may find at these locations. Such links are provided consistent with the stated purpose of this DoD website.</p>
            <h4>Copyright Policy</h4>
            <p>The use of copyrighted material within the Army is subject to U.S. copyright law as reflected in Army regulations. It is Army policy to recognize and respect the rights of copyright owners. This page does not create any right, remedy, or cause of action for any person against the Army.</p>
            <p>It is Department of the Army policy to recognize the rights of copyright owners (for example, photo journalists or embedded media) consistent with the Army's mission and worldwide commitments. Copyrighted works will not be reproduced or distributed outside of the Army without the written or electronically conveyed permission of the copyright owner.</p>
            <P>In the event a copyright owner grants the Army written or electronically conveyed permission to use copyrighted material for internal command information or morale and welfare purposes, commanders or heads of Army activities will take care to assure that such permission is not abused by improper use of the material.</p>
            <p>In addition, any use of copyrighted material, for which permission has been obtained, will carry attribution for the source of the material. Army Public Affairs will continue to make every effort to reinforce this policy through public affairs channels and to ensure widest dissemination of these guidelines around the Army, and at every level of command.</p>
            <p>Copyrighted material in the Army's possession should be safeguarded from accidental unauthorized release.</p>
            <p>Copyright issues are under the purview of the Office of the Judge Advocate General and are covered in Army Regulation 27-60, Intellectual Property.</p>
            <p>Army Regulation 25-1 prohibits the posting of documents or information protected by a copyright on Army websites without the permission of the copyright holder.</p>
            <p>Licensed use. A license is a contract which identifies the terms under which we can use a copyrighted work (e.g., can use my painting on the Army website for a period of 6 months, but not for any other purposes). There is no required format for a license and different licenses will vary greatly in their terms. At a minimum, the organization which receives the license should file a record copy. This will vary based on the scope of the license and intended use of the copyrighted work. For example, Office of Chief of Public Affairs might keep track of any licenses which allow use of a copyrighted work on the Army website, but a battalion might keep track of a license to use a copyrighted work in a locally distributed document.</p>
            <p>If you have any questions or comments about the information presented here, please forward them to us using our <a href="/contact/">Contact Us</a> page.</p>
        </div>
    </div>
</section>
	