<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <title>Terms of Use | The United States Army</title>
  <meta name="description" content="Terms of Use">
  <meta name="keywords" content="us army terms of use, army terms, us army terms">
  <link rel="canonical" href="https://www.army.mil/terms">
  <link rel="stylesheet" href="/e2/css/rv7/terms/style.css">
</head>
<body>
  {% include globals/header.html %}

  <div class="main main-content" role="main">
    
    {% include masthead.html %}
    
    {{ content }}
    
  </div>

  {% include globals/footer.html %}
  <script type="text/javascript" src="/e2/js/rv7/terms/terms.min.js"></script>
<script>
  //<![CDATA[
    var usasearch_config = { siteHandle:"www.army.mil" };
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "https://search.usa.gov/javascripts/remote.loader.js";
    document.getElementsByTagName("head")[0].appendChild(script);
  //]]>
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-27189539-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>

